@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.407), white);
}

header h1{
    padding-top: 28px;
    padding-bottom: 12px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    padding: 12px;
}
nav a{
    color: black;
    text-decoration: none;
    padding: 6px;
    border-radius: 8px;
}
nav a:hover{
    color: rgba(223, 223, 223, 0.685);
    transition: 0.5s;
    background-color: rgb(30, 43, 54);
}
div.banner-fundo{
    background-image: url(../img/perfumelogo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}
.banner-fundo{
    font-size: 1.3em;
    padding: 22px;
}
.banner-fundo h2{
    padding-top: 128px;
    color: white;
    width: 26   0px;
}
.banner-fundo p{
    padding-top: 12px;
    width: 170px;
    color: white;
}
div span.rosa{
    color: rosybrown;
}
section{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 12px;
}
section h3{
    padding-top: 38px;
    font-size: 1.6em;
}
aside img{
    width: 102px;
}
aside{
    padding: 38px 22px;
    border: 1px solid black;
    border-radius: 10px;
    width: 120px;
    text-align: center;

}
