*{
    margin: 0px;
    padding: 0px;
}
header h1{
    text-align: center;
    padding: 18px;
    font-family: Arial, Helve
}
nav{
    padding: 12px;
}
nav a{
    text-decoration: none;
    padding: 8px;
    color: black;
    border-radius: 12px;
}
nav a:hover{
    background-color: #313131;
    transition: 0.4s;
}
div.banner-fundo{
    background-image: url(../img/perfumelogo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 70vh;
}

